/* STRUCTURAL STYLES and HTML SECTION TAGS */
body {
    background-color: #8b4c10;
    color: #1a1a1b;
    font-family: 'Palatino','Times New Roman', Times, serif;
  }
  
  .body-home {
    background-color: #8b4c10;
    color: #1a1a1b;
  }
  
  .site-footer {
    background-color: #43598a;
    min-height: 80px;
    border-top: 5px solid #6d99f9;
  }
  
  nav {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #8b4c10;
    width: 100vw;
    height: 4em;
  }
  
  .nav-background-top {
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #8b4c10;
    width: 100vw;
    height: 4em;
    border-bottom: 5px solid #43598a;
  }
  
  bg-primary2 {
    background-color: black;
    display: block;
  }
  
  .push-down {
    margin-top: 300px;
    margin-bottom: 200px;
  }
  
  /* STRUCTURAL STYLES END */
  /* ID TAGS */
  #home-media {
    background-image: url(../images/backgrounds/bg04.jpg);
    overflow: hidden;
  }
  
  #main {
    display: block;
    margin: auto;
    margin-top: 70px;
    font-family: Palatino, serif;
  }
  
  #skill-list-text {
    position: relative;
    width: 60vw;
    margin: auto;
    padding: 9px;
    background-color: #cbcde2;
    font-family: Optima, sans-serif;
    font-size: 10pt;
    text-align: justify;
  }
  
  .skill-list-text2 {
    background-color: #cbcde2;
    font-family: Optima, sans-serif;
    font-size: 11pt;
    text-align: justify;
    z-index: -1;
    border: 3px;
  }
  
  .skill-list-text2::before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 35px;
    background-color: #cf97e5;
  }
  
  .skill-list-text2::after {
    content: " ";
    position: absolute;
    margin-left: calc(100% - 125px);
    margin-top: 0em;
    width: 55px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #43598a;
    border-left: none;
    border-top: none;
    color: #1a1a1b;
  }
  
  #summary {
    font-family: Palatino, serif;
    font-size: 12pt;
    line-height: 1.25em;
  }
  
  /* SEMANTIC STYLES ORGANIZED IN GROUPS */
  /* HEADER STYLES */
  h1 {
    color: white;
    font-family: Palatino, sans-serif;
    font-weight: normal;
    font-size: 32pt;
  }
  
  h1.title {
    color: #faf4b6;
    font-family: Palatino, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    text-align: center;
  }
  
  h2 {
    color: #43598a;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Palatino','Times New Roman', Times, serif;
  }
  
  h3 {
    color: #f2ffb3;
    font-size: 18pt;
    font-family: 'Palatino','Times New Roman', Times, serif;
  }
  
  /* LIST STYLES */
  ul {
    list-style-type: none;
    height: 100%;
  }
  
  .footer {
    display: inline;
    color: white;
    margin-top: 8px;
    margin-left: 6px;
  }
  
  .footer-active {
    display: inline;
    color: yellow;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 6px;
    box-shadow: 4px 4px black;
  }
  
  /* PARAGRAPH STYLES */
  p.landing-page {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
  }
  
  /* INLINE ELEMENT AND CHARACTER STYLES */
  btn-sk {
    min-width: 550px;
    background-color: aqua;
  }

  .social-buttons {
    display: inline-block;
    margin-left: 20px;
  }
  
  /* UTILITY STYLES START */
  /* Styles for sizing, alignment, borders and colors */
  /* SIZING */
  w-100 {
    min-width: 100vw;
  }
  
  full-width {
    width: 100%;
  }
  
  /* SPACING */
  padding4 {
    margin: 24px;
  }
  
  /* ALIGNMENT */
  fl-l {
    float: left;
  }
  
  fl-r {
    float: right;
  }
  
  /* COLORS */
  .bg-secondary-color {
    background-color: #43598a;
  }
  
  cs-test {
    background-color: #8b4c10;
    border-style: solid;
    border-width: 3pt;
  }
  
  cs-bg-secondary {
    background-color: #43598a;
  }
  
  text-secondary {
    border-bottom: 5px solid #43598a;
  }
  
  .justified-text {
    text-align: justify;
  }
  
  /* BORDERS */
  .border-top-bright {
    border-style: solid;
    border-top: 13px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: #8e96fc;
  }
  
  /* UTILITY STYLES END */
  /* IMAGE STYLES START */
  .logo-nav {
    max-width: 120px;
    margin-top: 12px;
  }
  
  .hero-image {
    max-width: 100%;
  }
  
  .modal-image {
    display: block;
    max-height: 40vh;
  }
  
  /* IMAGE STYLES END */
  /* BORROWED STYLES */
  .left_quote:before {
    background: black;
    content: " ";
    height: 5px;
    left: 0;
    position: absolute;
  }
  
  .left_quote {
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 65%;
    background-color: #8b4c10;
  }
  
  .page-article .left_quote:after, .page-article .left_quote:before {
    background: black;
    content: " ";
    height: 5px;
    left: 0;
    position: absolute;
  }
    
  /* ID STYLES */

.tldr {
  background-color: white;
  opacity: .73;
  width: 85%;
  padding-top: 0px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
  border: 2px solid black;
}