:root {  
/****** DEFINE SITEWIDE VARIABLES ******/
  /* DEFINE FONTS FOR THE SITE */
    --serif-fonts: 'Palatino','Times New Roman', Times, serif;
    --sans-fonts: hypatia-sans-pro, sans-serif;

  /* DEFINE COLORS FOR WEBSITE */
    --background-color: #f0f1f4;
    --yellow-highlight :#faf4b6;
    --light-blue: #6d99f9;
    --dark-blue: #43598a;

 /****** DESKTOP SITE VARIABLES ******/
    /* ALIGNMENT VARIABLES */
    --align-right-to-center: 0 0 0 auto;
    --mobile-inline-block: block;

    /* SIZING VARIABLES */
    --profilePhoto: 200px;
    --contactPhoto: 200px;
    --interior-photo-scale: 85%;
    
    /* SPACING VARIABLES */
    --left-column-padding: 16rem;
    --photo-margin: 4rem;
    --interior-photo-padding: 10rem 0rem 3.25rem 0rem;
    --mobile-only-clear: none;
    --mobile-only-padding-top: 0rem;

    /* TEXT AND HEADER SIZES */
    --h1-font-size: 4rem;
    --h2-sans: 2em;

    /* HEADER VARIABLES */
    --nav-text-top: 1.75rem;
    --nav-display: block;
    --nav-margin-top: 20em;

    /* FOOTER VARIABLES */
    --footer-text: 8rem;
    
    /* HOMEPAGE SPECIFIC VARIABLES */
    --nav-text: 8rem;

    /* INTERIOR PAGE VARIABLES */
    --interior-head: 6rem;
    
    /* WORK PAGE VARIABLES */
    --work-buttons: 5rem;
}

/****** MOBILE SITE VARIABLES ******/
@media (max-width: 800px) {  /* MOBILE SITE VARIABLES */
  :root {
  /* ALIGNMENT VARIABLES */
  --align-right-to-center: 15px -15px 26px auto;
  --mobile-inline-block: inline-block;

  /* SPACING VARIABLES */
  --left-column-padding: 3.5rem;
  --photo-margin: 2rem;
  --mobile-only-clear: both;
  --mobile-only-padding-top: 2rem;

  /* SIZING VARIABLES */
  --profilePhoto: 120px;
  --contactPhoto: 200px;
  --interior-photo-scale: 35%;

  /* TEXT AND HEADER SIZES */
  --h1-font-size: 3rem;
  --h2-sans: 1.5em;

  /* HEADER VARIABLES */
  --nav-text-top: 1rem;
  --nav-display: block;
  --nav-margin-top: 20em;

  /* FOOTER VARIABLES */
  --footer-text: 2rem;

  /* HOMEPAGE SPECIFIC VARIABLES */
  --nav-text: 5rem;

  /* INTERIOR PAGE VARIABLES */
  --interior-head: 4rem;

  /* WORK PAGE VARIABLES */
  --work-buttons: 2.5rem;
  }
}

body {
  background-color: var(--background-color);
  font-family: var(--serif-fonts);
}
.outer-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.inner-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 175px;
}
.negative-ten-degrees {
  transform: rotate(-10deg);
}
/*****END GLOBAL STYLES*****/


/* NAVIGATION STYLES */
/*/////////////////////////////////////////////////////////////////////*/
  #current-page{
    font-family: var(--serif-fonts);
    font-size: var(--nav-text);
    font-style: italic;
  }
  .interior-top{
    background-image: linear-gradient(180deg, var(--background-color) 70%, transparent);
  }
  .top-nav-text{
    font-family: var(--sans-fonts);
    text-transform: uppercase;
    font-size: var(--nav-text-top);
  }
  .plain-paragraph{
    clear: var(--mobile-only-clear);
    font-size: 1rem;
    padding: var(--mobile-only-padding-top);
  }

/*****END NAVIGATION STYLES*****/


/* FOOTER STYLES */
/*/////////////////////////////////////////////////////////////////////*/
.site-footer {
  background-color: var(--dark-blue);
  min-height: 6rem;
  border-top: 5px solid var(--light-blue);
}

/*****END FOOTER STYLES****/


/* HOMEPAGE STYLES */
 /*/////////////////////////////////////////////////////////////////////*/
  #home-about {
    font-size: var(--nav-text);
    font-family: var(--serif-fonts);
    display: var(--nav-display);
    margin: var(--align-right-to-center);
    background-image: var(--nav-gradient);
    padding-left: 5rem;
    padding-right: 1.5rem;
  }
  #home-about:hover {
    font-size: var(--nav-text);
    font-family: var(--serif-fonts);
    font-style: italic;
    display: var(--nav-display);
    margin: var(--align-right-to-center);
    background-image: var(--nav-gradient);
    padding-left: 5rem;
    padding-right: 1.5rem;

  }  #home-contact {
    font-size: var(--nav-text);
    font-family: var(--serif-fonts);
    display: var(--nav-display);
    margin: var(--align-right-to-center);
    background-image: var(--nav-gradient);
    padding-left: 5rem;
    padding-right: 1.5rem;
  }
  #homepage-left-column {
    padding: var(--left-column-padding)
  }
  #home-media {
    overflow: hidden;
    padding: 0px
  }
  #home-work {
    font-size: var(--nav-text);
    font-family: var(--serif-fonts);
    display: var(--nav-display);
    margin: var(--align-right-to-center);
    background-image: var(--nav-gradient);
    padding-left: 5rem;
    padding-right: 1.5rem;
  }
  img.profile-photo {
    width: var(--profilePhoto);
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: var(--light-blue);
    float: left;
    margin-right: var(--photo-margin);
    margin-left: .5rem;
    filter: drop-shadow(.25rem .25rem 1rem black);
  }

  /****END HOMEPAGE STYLES*****/

/* ABOUT PAGE ID TAGS */
 /*/////////////////////////////////////////////////////////////////////*/
  #left-column-text {
    font-size: 1.5rem;
    padding: var(--left-column-padding)
  }
  #right-column {
    position: sticky;
  }
  #interior-photo-primary {
    max-width: var(--interior-photo-scale);
    padding: var(--interior-photo-padding);
  }
  .tldr-icon {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border-color: var(--dark-blue);
    border-width: 1px;
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 4px;
    margin-right: auto;
  }
  .tldr-image {
    max-height: 65px;
    max-width: 65px;
    display: inline;
    fill: white;
  }
  /*****END INTERIOR PAGE STYLES*****/

/* CONTACT PAGE ID TAGS */
 /*/////////////////////////////////////////////////////////////////////*/
  img.contact-photo {
    width: var(--contactPhoto);
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: var(--yellow-highlight);
  } 
 #resume{
    display: var(--mobile-inline-block);
    color: var(--light-blue);
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-blue);
    border-radius: 30px;
    text-align: center;
    padding-top: auto;
    justify-content: center;
    padding-top: 22px;
    font-size: 6rem;
  }
  #email{
    display: var(--mobile-inline-block);
    color: var(--light-blue);
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-blue);
    border-radius: 30px;
    text-align: center;
    padding-top: auto;
    justify-content: center;
    padding-top: 22px;
    font-size: 6rem;
  }
  p.contact-text {
    font-size: 1.5rem;
    font-family: var(--sans-fonts);
  }
  div.label {
    display: inline-block;
    font-family: var(--sans-fonts);
    font-size: 1.5rem;
    width: 50%;
    text-align: right;
    padding: 4px;
  }
  div.information {
    display: inline-block;
    font-family: var(--serif-fonts);
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
    padding: 4px;
  }
  /*****END CONTACT PAGE STYLES****/

 /* WORK PAGE ID TAGS */
 /*/////////////////////////////////////////////////////////////////////*/
#work-developer {
  font-weight: bold;
  font-size: var(--work-buttons);
}
#work-marketer {
  font-weight: bold;
  font-size: var(--work-buttons);
}
#work-writer {
  font-weight: bold;
  font-size: var(--work-buttons);
}

  /*****END WORK PAGE STYLES ****/

/* PORTFOLIO STYLES */
.portfolio-thumbs {
  display: inline-block;
  background-color: antiquewhite;
  max-width: 100px;
}

.portfolio-thumbs-image {
  max-width: 100%;
  padding: 6px;
}

  /* SEMANTIC STYLES ORGANIZED IN GROUPS */
  /* HEADER STYLES */
  button {
    border: 0px;
  }
  h1 {
    font-family: Palatino, serif;
    font-weight: normal;
    font-size: 3rem;
  }
  h1.page-title{
    font-size: var(--interior-head);
    font-style: italic;
    background-image: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(238,238,238,0.25) 100%);
    padding-bottom: .4em;
  }
  h1.sans {
    font-family: var(--sans-fonts);
    font-weight: 400;
    font-style: normal;
    font-size: var(--h1-font-size);
  }
  h1.title {
    color: var(--yellow-highlight);
    font-size: var(--footer-text);
    text-align: center;
    font-weight: bold;
  }
  h2 {
    font-family: var(--serif-fonts);
    font-size: var(--interior-head);
    font-style: italic;
    font-size: 2.5rem;
  }
  
  .h2-modal {
    color: #f9fde8;
    font-size: 18pt;
    font-family: 'Helvetica','Arial', sans-serif;
  }

  h3 {
    color: #f2ffb3;
    font-size: 18pt;
    font-family: 'Palatino','Times New Roman', Times, serif;
  }
  h3.sans {
    color: black;
    font-size: var(--h2-sans);
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* LIST STYLES */
  ul {
    list-style-type: none;
    height: 100%;
  }
  
  .footer {
    display: inline;
    color: white;
    margin-top: 8px;
    margin-left: 6px;
  }
  
  .footer-active {
    display: inline;
    color: yellow;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 6px;
    box-shadow: 4px 4px black;
  }
  
  /* PARAGRAPH STYLES */
  p.about {
    text-align: justify;
  }
  p.landing-page {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
  }
  
  /* INLINE ELEMENT AND CHARACTER STYLES */
  btn-sk {
    min-width: 550px;
    background-color: aqua;
  }

  .social-buttons {
    display: inline-block;
    margin-left: 20px;
  }

/* MODAL STYLES */

.about-modal {
  max-height: 95vh;
  max-width: 500px;
}

.about-modal-header {
  background-color: #43598a;
  font-size: 12px;
}

.modal-image {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

/* CARD STYLES */
.portfolio-header {
  background-color: #43598a;
  font-size: 32px;
  color: white;
  margin-bottom: 12px;
}