// DEFINE STYLE VARIABLES //
 $color-primary: #faf4b6;
 $color-secondary: #43598a;
 $color-bright: #8e96fc;
 $color-background: #F0F1F5;
 $color-background-home: #8b4c10;
 $color-border-primary: #fcb041;
 $color-nav-active: #cf97e5;
 $color-white: "white";
 $font-display: "Pinyon Script", sans-serif;
 $font-body: "Assistant", sans-serif;
 $gradient-button: radial-gradient(#CEC8FF, white);

// END COLOR DEFINITIONS //


/* STRUCTURAL STYLES and HTML SECTION TAGS */

body {
    background-color: $color-background;
    color: #1a1a1b;
}
.body-home {
    background-color: $color-background-home;
    color: #1a1a1b;
}

footer {
    border: 3px;
    background-color: $color-secondary;
    min-height: 80px;
}

nav {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #8b4c10;
    width: 100vw;
    height: 4em;
    border-bottom: 5px solid #43598a;
}
.nav-background-top {
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #8b4c10;
    width: 100vw;
    height: 4em;
    border-bottom: 5px solid #43598a;
}
bg-primary2{
    background-color:black;
    display: block;
}

/* ID TAGS */

#home-media{
    background-image: url(images/backgrounds/bg04.jpg);
    max-height: 180px;
    overflow: hidden;
}
#main {
    display: block;
    margin: auto;
    margin-top: 70px;
    font-family: Palatino, serif;
}

#skill-list-text{
    position: relative;
    width: 60vw;
    margin: auto;
    padding: 9px;
    background-color: #cbcde2;
    font-family: Optima, sans-serif;
    font-size: 10pt;
    text-align: justify;
}

.skill-list-text2{
    background-color: #cbcde2;
    font-family: Optima, sans-serif;
    font-size: 11pt;
    text-align: justify;
    z-index: -1;
    border: 3px;
}

.skill-list-text2::before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55px;
    height: 35px;
    background-color: $color-nav-active;
   }
   .skill-list-text2::after {
    content: " ";
    position: absolute;
    margin-left: calc(100% - 125px);
    margin-top: 0em;
    width: 55px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #43598a;
    border-left: none;
    border-top: none;
    color: #1a1a1b;
   }

#summary{
    font-family: Palatino, serif;
    font-size: 12pt;
    line-height: 1.25em;
}



/* SEMANTIC STYLES ORGANIZED IN GROUPS */

 /* HEADER STYLES */

 h1 {
    color: #43598a;
    font-family: Palatino, sans-serif;
    font-weight: normal;
    font-size: 32pt;
 }
 h1.title {
    color: $color-primary;
    font-family: Palatino, sans-serif;
    font-weight: bold;
    font-size: 60pt;
    text-align: center;
 }
 h2 {
    color: #43598a;
    text-transform: uppercase;
    font-size: 18pt;
 }
 h3 {
    color: #43598a;
    text-transform: uppercase;
    font-size: 12pt;
 }

 /* LIST STYLES */

 ul {
    list-style-type: none;
    height: 100%;
 }
 .footer {
    display: inline;
    color: white;
    margin-top: 8px;
    margin-left: 6px;
 }

 .footer-active {
    display: inline;
    color: yellow;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 6px;
    box-shadow: 4px 4px black;
 }

 /* PARAGRAPH STYLES */
 p.landing-page {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
 }



/* INLINE ELEMENT AND CHARACTER STYLES */

btn-sk{
    min-width: 550px;
    background-color: aqua;
}



/* UTILITY STYLES START */
    /* Styles for sizing, alignment, borders and colors */

 /* SIZING */   
 w-100 {
    min-width: 100vw;
 }
 
 /* SPACING */
 padding4 {
    margin: 24px;
 }

 /* ALIGNMENT */
 fl-l{
    float: left;
 }

 fl-r{
    float: right;
 }

 /* COLORS */
 .bg-secondary-color {
    background-color: #43598a;
 }

 cs-test{
    background-color: #8b4c10;
    border-style: solid;
    border-width: 3pt;
 }

 cs-bg-secondary{
    background-color: $color-secondary;
 }

 text-secondary{
    border-bottom: 5px solid $color-secondary;
 }

 .justified-text{
    text-align: justify;
 }
 /* BORDERS */

 .border-top-bright {
    border-style: solid;
    border-top: 13px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: $color-bright;
 }

/* UTILITY STYLES END */



/* IMAGE STYLES */
.logo-nav {
    max-width: 120px;
    margin-top: 12px;
}

.hero-image{
    max-width: 100%;
}





/* BORROWED STYLES */
.left_quote:before {
    background: black;
    content: " ";
    height: 5px;
    left: 0;
    position: absolute;
}


.left_quote {
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 65%;
    background-color: #8b4c10;
}

.page-article .left_quote:after, .page-article .left_quote:before{
    background: black;
    content: " ";
    height: 5px;
    left: 0;
    position: absolute;
}